::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar{
  background: #222
}
body{
  background:url('../img/pattern.svg'), linear-gradient(to right bottom, #000, #222);
  background-size: cover;
  min-height: 100vh;
}
nav{
  background-color: #333;
}
main{
  margin-top: 3.8rem;
}
section{
  min-height: 100vh;
}
 .carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

 .carousel-item > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main{
  height: calc(100vh - 7.5rem);
}
.main .carousel{
  height: 100%;
  width: 100%;
}
.others .col{ 
  height: calc((100vh - 7.5rem)/2)
}
#category  .cat-icon {
   font-size: 1.5rem !important
}
#category a:hover,
#category a.active{
  background: #ccc;
  box-shadow: none;
  color: rgb(68, 0, 6) !important
}
.movieCon{
  position: relative;
  height: auto;
}

video{
  background: #000
}
#mainVid{
  width: 100%;
  max-height: 40vh;
}
#mainVidCon{

}
#mainVidCon .description{
  font-weight: 600;
  padding: 0 1rem;
}
.feed figure,
.feed .ads{
  height: 6rem;
  background: #fff;
}
.toggled .feed figure,
.feed .ads{
  height: 5.5rem !important;
}
.feed figure:hover{
  background: #eee;
  cursor: pointer;
}
.feed figure:active{
  background: #ddd;
}
.feed video{
  max-height: 100%
}
.feed figure.active{
  box-shadow: 0 .5rem  .5rem rgba(0, 0, 0, 0.1) !important

}

#controls{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom , rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .8) );
  visibility: hidden;
  opacity: 0;
}
.movieCon:hover  #controls,
#controls.active{
  visibility: visible;
  opacity: 1;
}
.playBtn{
  font-size: 2.5rem;
  background: none;
  color: white;
  border: 0;
}
.bottom{
  position: absolute;
  bottom: 0;
   left: 0;
   /* background: rgba(0, 0, 0, 0.8); */
   width: 100%;
   padding: 1rem .5rem;
}
.bottom button{
  background: none;
  color: white;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
 #rangeSeeker {
  -webkit-appearance: none;
  /* margin: 18px 0; */
  /* background: linear-gradient(to right, #ff1100 0%, #ff1100 50%, rgba(255,255,255,0.5) 50%, rgba(255, 255, 255, 0.5) 100%); */
  width: 100%;
  position: relative;
}


 #rangeSeeker:hover{
  overflow: visible;
}
#rangeSeeker:focus {
  outline: 1px solid transparent;
  outline-offset: .2rem;
}
#rangeSeeker::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 25.3px;
}
#rangeSeeker::-webkit-slider-thumb {
  height:15px;
  width: 15px;
  border-radius: 50%;
  cursor:w-resize;
  -webkit-appearance: none;
  margin-top: -5px;
  background: #ff1100;
  /* box-shadow: -40rem 0 0rem 40rem #f11000; */
}
#rangeSeeker:focus::-webkit-slider-runnable-track {
  /* background: #aaa; */
}
#rangeSeeker::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #ff1100;
  border-radius: 1.3px;
}
#rangeSeeker::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ff1100;
  box-shadow: -100vh 0 0 #ff1100;
  cursor: pointer;
} 


#volumeBtn{
}

@media only screen and (min-width : 1030px){
 #mainVid{
   max-height: 70vh;
 }
 .feed figure,
 .feed .ads{
  height: 10rem;
  background: #fff;
}
#rangeSeeker{
  overflow: hidden;
}
#controls{
  background: linear-gradient(to bottom , rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .5) );

}

}