::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar{
  background: #222
}
body{
  background:url('../img/pattern.svg'), linear-gradient(to right bottom, #000, #222);
  background-size: cover;
  min-height: 100vh;
}
.spinner{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
  background-color: #333;
  padding: .2rem 1rem;
}
main{
  margin: 2.9rem 0 3rem 0;
}
section{
  min-height: 100vh;
}
 .carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}

 .carousel-item > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main{
  height: calc(100vh - 7.5rem);
}
.main .carousel{
  height: 100%;
  width: 100%;
}
.others .col{ 
  height: calc((100vh - 7.5rem)/2)
}
/* end of album styling */
#category  .cat-icon {
   font-size: 1.5rem !important
}
#category a:hover,
#category a.active{
  background: #ccc;
  box-shadow: none;
  color: rgb(68, 0, 6) !important
}
/* video styling */

.movieCon{
  position: relative;
  height: auto;
}

#videoCarousel{
  height: 20rem;
  background: #ddd;
}

video{
  background: #000
}
#mainVid{
  width: 100%;
  max-height: 40vh;
}
#mainVidCon{

}
#mainVidCon .description{
  font-weight: 600;
  padding: 0 1rem;
}
#initLayout .feed{
  height: 15rem;
  overflow: hidden;
  background: #ddd
}
.feed figure,
.feed .ads{
  height: 6rem;
  background: #fff;
}
.toggled .feed figure,
.feed .ads{
  height: 5.5rem !important;
}
.feed figure:hover{
  background: #eee;
  cursor: pointer;
}
.feed figure:active{
  background: #ddd;
}
.feed video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.feed figure.active{
  border: 1px solid #ddd;
}
.feed figcaption{
  font-weight: 700;
  font-size: .9rem;
}
.feed_sm{
  height: 8rem;
  background: #ddd
}
#controls{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom , rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .8) );
  visibility: hidden;
  opacity: 0;
}
.movieCon:hover  #controls,
#controls.active{
  visibility: visible;
  opacity: 1;
}
.playBtn{
  font-size: 2.5rem;
  background: none;
  color: white;
  border: 0;
}
.bottom{
  position: absolute;
  bottom: 0;
   left: 0;
   /* background: rgba(0, 0, 0, 0.8); */
   width: 100%;
   padding: 1rem .5rem;
}
.movieCon button{
  background: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #ccc;
  font-size: 1.5rem;
}
button:focus{
  outline: 0 !important;

}
#curTime,
#durTime {
  font-size: 1rem;
  font-weight: 400 !important
}
#durTime{
  color: #bdbdbd
}
 #rangeSeeker {
  -webkit-appearance: none;
  /* margin: 18px 0; */
  /* background: linear-gradient(to right, #ff1100 0%, #ff1100 50%, rgba(255,255,255,0.5) 50%, rgba(255, 255, 255, 0.5) 100%); */
  width: 100%;
  position: relative;
  height: 3.5px;
}


 #rangeSeeker:hover{
  overflow: visible;
}
#rangeSeeker:focus {
  outline: 1px solid transparent;
  outline-offset: .2rem;
}
#rangeSeeker::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 25.3px;
}
#rangeSeeker::-webkit-slider-thumb {
  height:15px;
  width: 15px;
  border-radius: 50%;
  cursor:w-resize;
  -webkit-appearance: none;
  margin-top: -5px;
  background: #ff1100;
}
#rangeSeeker:focus::-webkit-slider-runnable-track {
  /* background: #aaa; */
}
#rangeSeeker::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 10.3px;
}
#rangeSeeker::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ff1100;
  border: 0;
  cursor: w-resize;
} 


#volumeBtn{
}

@media only screen and (min-width : 1030px){
 #mainVid{
   max-height: 31rem;
 }
 .feed figure,
 .feed .ads{
  height: 7rem;
  background: #fff;
}
#rangeSeeker{
  overflow: hidden;
}
#controls{
  background: linear-gradient(to bottom , rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.6) 89%, rgba(0, 0, 0, .9) );

}

}

@media only screen and (min-width : 1400px){
  #mainVid{
    max-height: 34rem;
  }
}












