.navbar {
	background: white;
	padding: 0 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
	height: 3rem;
}

.body {
	margin-top: 4rem;
	height: calc(100vh - 4rem);
	overflow-x: hidden;
}



.coprate {
	font-size: 3rem !important;
	font-family: "Oswald",
		'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}


.box {
	background: #fff;
	box-shadow: 0 .1rem .6rem rgba(0, 0, 0, 0.2);
	padding: 2rem;
	border-radius: 1rem
}


#requestForm .form-control {
	border: 0;
	/* box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.3); */
	background: rgba(221, 221, 221, 0.801);
	transition: all .3s;
	border-bottom: 2px solid rgba(255, 68, 0, 0.76) !important
}


::placeholder {
	color: rgb(72, 110, 72) !important
}

.form-control:hover::placeholder {
	color: rgb(0, 172, 43) !important;
}

.form-control:hover,
.form-control:focus {
	background: #fff !important;
	border: 0 !important;
	box-shadow: 0 0rem .5rem .1rem rgba(0, 0, 0, 0.2)
}

#requestForm .form-control:valid {
	border-bottom: 2px solid rgba(58, 112, 61, 0.76) !important
}

#requestForm .form-control:placeholder-shown {
	border-bottom: 0 !important;
}

.bg-purple {
	background: linear-gradient(to bottom, #aaa, #aaa, #fff);
	background-attachment: fixed;
	color: #000
}